In [1]:
from pathlib import Path

import pandas as pd

from myutils.json_tools import load_json, save_json

In [2]:
DATA_DIR = Path('../data')

In [3]:
tunes_df = pd.DataFrame(load_json(DATA_DIR / 'tunes_merged.json'))
tunes_df.head()

,tune,setting,name,type,meter,mode,abc,date,username,id,abc_transposed,length,key
0,18105,35234,"$150 Boot, The",polka,2/4,maj,|: d>g fe | dB AG | E/F/G E/F/G | BA GF |\r\nd...,2019-07-06 04:39:09,NfldWhistler,0,"X: 35234\nT: $150 Boot, The\nR: polka\nM: 2/4\...",220,G
1,11931,11931,'G Iomain Nan Gamhna,slip jig,9/8,maj,dBB B2 A BAG|dBB Bcd efg|dBB B2 A BAG| eAA dBG...,2012-05-17 07:49:26,iliketurtles,1,X: 11931\nT: \'G Iomain Nan Gamhna\nR: slip ji...,280,G
2,15326,28560,'S Ann An Ìle,strathspey,4/4,maj,|: G>A B>G c>A B>G | E<E A>G F<D D2 | G>A B>G ...,2016-03-31 15:34:45,danninagh,2,X: 28560\nT: \'S Ann An Ãle\nR: strathspey\nM...,181,G
3,15326,28582,'S Ann An Ìle,strathspey,4/4,maj,"uD2|:{F}v[G,2G2]uB>ud c>A B>G|{D}E2 uA>uG F<D ...",2016-04-03 09:15:08,DonaldK,3,X: 28582\nT: \'S Ann An Ãle\nR: strathspey\nM...,215,G
4,14625,26955,'S Daor An Tabac,reel,4/4,min,eAAB eABB|eAAB gedB|eAAB eABB|G2AB gedB:|\r\n~...,2015-07-31 02:47:47,Charles Mackenzie,4,X:26955\nT:\'S Daor An Tabac\nR:reel\nM:4/4\nK...,89,B

The `setting` key is unique:

In [4]:
tunes_df['setting'].shape[0] - tunes_df['setting'].unique().shape[0]

0

Tune info:

In [5]:
tunes_df['type'].value_counts()

reel          12708
jig            8953
polka          2862
waltz          2575
hornpipe       2499
barndance      1400
slip jig       1265
strathspey      977
slide           794
march           782
mazurka         429
three-two       297
Name: type, dtype: int64

In [6]:
tunes_df['meter'].value_counts()

4/4     18366
6/8      8953
3/4      3004
2/4      2862
9/8      1265
12/8      794
3/2       297
Name: meter, dtype: int64

In [7]:
tunes_df['key'].value_counts()

D    11187
G    10633
A     6922
E     3766
B     1442
C      936
F      655
Name: key, dtype: int64

In [8]:
tunes_df['mode'].value_counts()

maj    23146
min     5374
dor     4627
mix     2394
Name: mode, dtype: int64

In [9]:
(tunes_df['key'] + tunes_df['mode']).value_counts()

Gmaj    9719
Dmaj    9323
Amaj    2493
Ador    2108
Emin    1906
Edor    1604
Bmin    1314
Amix    1169
Amin    1152
Dmix    1012
Cmaj     835
Fmaj     578
Dmin     505
Gmin     497
Ddor     347
Gdor     285
Emaj     198
Gmix     132
Bdor     105
Cdor     101
Fdor      77
Emix      58
Bmix      23
dtype: int64

In [10]:
tunes_df.groupby(['type', 'mode']).count()['tune']

type        mode
barndance   dor       66
            maj     1154
            min      164
            mix       16
hornpipe    dor      195
            maj     1984
            min      227
            mix       93
jig         dor     1166
            maj     5661
            min     1388
            mix      738
march       dor       80
            maj      526
            min       93
            mix       83
mazurka     dor       19
            maj      327
            min       79
            mix        4
polka       dor      314
            maj     2070
            min      379
            mix       99
reel        dor     2158
            maj     7611
            min     1938
            mix     1001
slide       dor      108
            maj      584
            min       49
            mix       53
slip jig    dor      162
            maj      731
            min      272
            mix      100
strathspey  dor      160
            maj      585
            min      141
            mix       91
three-two   dor       27
            maj      156
            min       96
            mix       18
waltz       dor      172
            maj     1757
            min      548
            mix       98
Name: tune, dtype: int64

ABC info:

In [13]:
char_counts = pd.Series(list(''.join(tunes_df['abc_transposed']))).value_counts(normalize=True)
char_counts.head(20)

      0.163493
|     0.069798
B     0.051784
2     0.051055
d     0.049900
G     0.047669
e     0.045327
A     0.045182
\n    0.035590
:     0.035086
g     0.032249
c     0.029144
a     0.025197
/     0.019216
E     0.018600
f     0.017969
3     0.016994
D     0.016114
F     0.015128
4     0.011410
dtype: float64